{
  "TOKEN": "OTA1MTk2Nzc3MjI4MDk1NDk4.YYGkMQ.gGG8DVBGFrFFnuZ5h85R4Q-lnOY",
  "YOUTUBE_API_KEY": "AIzaSyCcUPtoXWl253K93tvBa2YsAgUOT-5e-t8",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 999,
  "PREFIX": "!",
  "PRUNING": true,
  "LOCALE": "hu",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
